*{
  font-family: 'Krona One';
}
table {
  text-align: center;
    border: 1px solid rgb(192, 45, 45);
    background-color: brown;
    color: white;

  }
#subbtn{
    top:20px;
    color: turquoise;
  }
img {
  
  display: inline-block;
}

 #cookies {
  margin-top: 50px;
  color: black;
  width:max-content;
  background-color: teal;
}
h{
  text-align: center;
}

nav {
  text-align: left;
}
body{
  font-size: x-large;
}